.books-list {
  border-bottom: 2px solid $lightgray; 
  padding-bottom: 16px;
}

.book {
  border: 1.5px solid $lightgray;
  background: $white;
  border-radius: 4px;
  height: 170px;
  padding: 24px;
  display: flex;
  margin-bottom: 16px;
  .left {
    flex: 3;
    .info {
      .category {
        color: $gray;
        margin: 0;
        font-weight: 600;
      }
      .title {
        margin: 9px 0 3px;
        font-weight: 700;
      }
      .author {
        font-size: 15px;
        color: $blue;
      }
    }
    .controls {
      height: 36px;
      display: flex;
      align-items: flex-end;
      .comments-link {
        display: block;
        border-right: 2px solid $lightgray;
        text-decoration: none;
      }
      .ctrlbtn {
        &:first-child {
          padding-left: 0;
        }
        cursor: pointer;
        font-size: 14px;
        padding: 0 16px;
        border-right: 2px solid $lightgray;
        color: $blue;
        &:last-child {
          border: none;
        }
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .spinner {
      height: 68px;
      width: 68px;
      margin-right: 21px;
    }
    .percent {
      h1 {
        margin: 12px 0 4px;
        font-weight: 600;
      }
      span {
        color: $gray;
      }
    }
  }
}