* {
  box-sizing: border-box; }

body {
  background: #fafafa;
  margin: 0;
  padding: 0;
  font-family: Montserrat; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (min-width: 768px) {
    .container {
      width: 750px; } }
  @media only screen and (min-width: 992px) {
    .container {
      width: 970px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1170px; } }

.modal {
  position: fixed;
  z-index: 1000 !important;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1); }
  .modal .modal-content {
    background: #fff;
    border: 1px solid #888888;
    border-radius: 4px;
    margin: 100px auto;
    width: 45%;
    animation-name: modalopen;
    animation-duration: 0.7s; }
    .modal .modal-content .modal-header {
      padding: 12px;
      background: #0097f9;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      display: flex;
      align-items: center; }
      .modal .modal-content .modal-header h2 {
        color: #fff;
        font-size: 18px;
        margin: 0; }
      .modal .modal-content .modal-header .modal-close {
        font-size: 32px;
        color: #fff;
        margin-left: auto; }
    .modal .modal-content .modal-body {
      padding: 12px; }
@keyframes modalopen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.navbar {
  background: #fff;
  height: 95px;
  border-bottom: 2px solid #e8e8e8; }
  .navbar .container {
    display: flex;
    align-items: center;
    height: 100%; }
    .navbar .container .links {
      display: flex;
      align-items: center; }
      .navbar .container .links .logo {
        font-size: 30px;
        font-weight: 800;
        color: #0097f9;
        margin-right: 16px;
        text-transform: none; }
      .navbar .container .links span {
        text-transform: uppercase;
        margin: 16px;
        font-size: 16px;
        color: #888888; }
    .navbar .container .logged-user {
      width: 45px;
      height: 45px;
      margin-left: auto;
      border: 1px solid #e8e8e8;
      border-radius: 50%; }

.books-list {
  border-bottom: 2px solid #e8e8e8;
  padding: 36px 0 16px; }
  .books-list .book {
    border: 1.5px solid #e8e8e8;
    background: #fff;
    border-radius: 4px;
    height: 170px;
    padding: 24px;
    display: flex;
    margin-bottom: 16px; }
    .books-list .book .left {
      flex: 3; }
      .books-list .book .left .info .category {
        color: #888888;
        margin: 0;
        font-weight: 600; }
      .books-list .book .left .info .title {
        margin: 9px 0 3px;
        font-weight: 700; }
      .books-list .book .left .info .author {
        font-size: 15px;
        color: #0097f9; }
      .books-list .book .left .controls {
        height: 36px;
        display: flex;
        align-items: flex-end; }
        .books-list .book .left .controls span {
          font-size: 14px;
          padding: 0 16px;
          border-right: 2px solid #e8e8e8;
          color: #0097f9; }
          .books-list .book .left .controls span:first-child {
            padding-left: 0; }
          .books-list .book .left .controls span:last-child {
            border: none; }
    .books-list .book .right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center; }
      .books-list .book .right .spinner {
        height: 68px;
        width: 68px;
        margin-right: 21px; }
      .books-list .book .right .percent h1 {
        margin: 12px 0 4px;
        font-weight: 600; }
      .books-list .book .right .percent span {
        color: #888888; }

.add-book-title {
  margin-top: 32px;
  text-transform: uppercase;
  color: #888888; }

.new-book-form {
  margin-bottom: 128px;
  display: flex; }
  .new-book-form input {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    margin-right: 16px;
    font-size: 16px;
    flex: 2; }
    .new-book-form input::placeholder {
      color: #888888; }
  .new-book-form select {
    padding: 16px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    background: #fff; }
  .new-book-form button {
    padding: 16px;
    width: 150px;
    background: #0097f9;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600; }

/*# sourceMappingURL=index.css.map */
